.page-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.flexContainer {
    display: block;
}

.mapOverall {
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: rgb(229, 231, 235);
    border-radius: 12px;
    overflow: hidden;
    border-color: rgb(64, 64, 64);
    border-width: 4px;
}

.mapContianer {
    display: block;
}

.mapImageContainer {
    flex-shrink: 1;
}

.mapContentContainer {
    padding: 32px;
}

.mapContentTitle {
    display: block;
    margin-top: 4px;
    font-size: 18px;
    line-height: 28px;
    line-height: 1.25;
    font-weight: 500;
    color: black;
}

.mapContentTitle:hover {
    text-decoration: underline;
}

.mapContentText {
    color: rgb(107, 114, 128);
}

.mapImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mapImage:hover {
  transition-duration: 200ms;
  transform: scale(1.25);
}

@media (min-width: 768px) {
    .mapOverall {
        max-width: 42rem/* 672px */
        ;
        margin-left: auto;
        margin-right: auto;
    }
    .mapContianer {
        display: flex;
    }
    .mapImageContainer {
        flex-shrink: 0;
    }
    .mapImage {
        width: 12rem/* 192px */
        ;
    }
    .flexContainer {
        display: flex;
    }
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.py-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.py-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.py-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.py-60 {
    padding-left: 60px;
    padding-right: 60px;
}