* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* never use: times new roman */
}

body {
    margin: 0px;
}


/* main fonts */

h1,
h2 {
    color: #0a4db1;
    letter-spacing: 1.25px;
    font-size: 36px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

h3,
h4 {
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #0a6eb1;
}

h3 {
    font-size: 32px;
}

a:link:hover {
    font-size: 20px;
    background-color: #e6f5ff;
}

a:visited {
    color: #000;
}

.hidden {
  display: none;
}

/*
- https://tailwindcss.com/docs/animation
- https://www.w3schools.com/css/css3_animations.asp
duration -> time the animation has
iteration-count -> how often the a. should repeat
timing-function -> property specifies the speed curve of the animation
*/

.animate-pulse {
    /* animation-name: pulse;
       animation-duration: 2s;
       animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
       animation-iteration-count: infinite;
    */
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

::selection {
    color: #38bdf8;
    background-color: #374151;
}


/* animations */

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}


/* media screen */

@media (min-width: 640px) {
    h1 {
        margin-left: 5vh;
    }
}